   <div>
		<div style="padding-left:0; padding-right:0;">
		  
		   <div class="input-group" style="padding-bottom:.4em;">
              <input type="text" class="form-control" style="border-radius: 0px !important;" placeholder="Filter users" ng-model="contactFilter">
			  <span class="input-group-addon">
				<i class="icon fa fa-filter" style="font-size:1.3em;"></i>
			  </span>
		   </div>
		   
		   <div class="alert alert-warning" ng-show="contacts.length===0">
		       THIS SHOWS BECAUSE THE USER LIST IS EMPTY. click the user plus to get started
		   </div>
		   
		   <div style="padding:.3em  .1em  .3em .1em" class="contact" ng-repeat="contact in contacts | filter:contactFilter | orderBy:'color'" > 
			  
			  <div class="btn-group pull-right" style="padding-top:.5em;">
				  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="icon fa fa-circle" style="color: {{contact.color}}"></i>
					<span class="caret"></span>
				  </button>
				  <button class="btn btn-default btn-xs"><i class="icon fa {{contact.ring ==='true' ? 'fa-bell' : 'fa-bell-o'}}" style="color:maroon"></i></button>
				  <button class="btn btn-default btn-xs">
				     <i class="icon fa fa-exclamation-circle" style="color: {{contact.alert ==='true' ? 'red' : 'black'}}"></i>
				  </button>
				  <ul class="dropdown-menu" role="menu">
					<li ng-repeat="color in colors" ng-click="changeColor(contact ,color)">
					   <a href="#"><i class="icon fa fa-circle" style="color: {{color}}"></i> {{color}}</a>
					</li>
				  </ul>
			  </div>
			  <div style="padding:0" ng-click = "displayTransFor(contact)">
			     <img ng-src={{contact.imgSrc}} height="40">
				   {{contact.userName}}
				  <span class="pull-right" style="color: #ccc; padding-top:.5em; padding-right:1em;">
					{{contact.lastTranDate}}
				  </span>
			  </div>
			  
		   </div>

		</div>
		
		<div style="padding-left:0; padding-right:0;padding-top:.5em" >
		   <new-contact></new-contact>
		   <withdraw></withdraw>
		   <pay-in></pay-in>
		</div>
		
		<div style="text-align:center; margin-top:2em" class="sticky-footer ">
			<h5>&copy; 2015 pouchlet inc.</h5>
		</div>
	</div>