
   <div class="panel">
	   <div class="panel-body">
		   <div class="input-group" style="padding-bottom:.4em;">
			  <input type="text" class="form-control" style="border-radius: 0px !important; height:3em;" placeholder="Search for contact by email or username" ng-model="searchText">
			  <span class="input-group-addon" style="background-color:#428bca; padding-left:2em; padding-right:2em" ng-click="search(searchText)">
				<i class="icon fa fa-search" style="font-size:1.5em; font-weight:bold; color:#fff"></i>
			  </span>
		   </div>
		   <div class="vendor-signin" ng-show="searchComplete">
			  <h4>{{fullName}}</h4>
			  <img ng-src="{{vendorLogo}}" height="50">
			  <button class="btn btn-default btn-xs pull-right" style="margin-top:1.2em"> {{vendor.subscribers | countFilter}} subscribers </button>
			  
			  <p>url :<a>{{vendor.url}}</a> </p> 
			  <p>secret : {{vendor.secret}}</p>
			  <hr />
			  <div style="padding:0">
			      <h4 style="font-weight:bold; color:#428bca">Services Offered</h4>
				  <div ng-repeat="service in services" ng-show="!editService" 
					   ng-mouseenter="showElipsis=true" ng-mouseleave="showElipsis=false" 
					   style="padding:1.5em 0em">
					  <div style="padding:0em; padding-right:0em;">
						  <span class="col-xs-3 col-md-2" style="white-space:nowrap; overflow:hidden; padding-left:0">
							  <i class="icon fa fa-ellipsis-v" ng-show="showElipsis"></i>
							  <img ng-src="img/circle.png" height="20" style="margin-left:{{showElipsis? '.0em' : '.0em'}}">
							  <span style="font-weight:bold;">
								{{service.details.name}}
							  </span>
						  </span>
						  <span style="margin-left:1em; white-space:nowrap; overflow:hidden" class=" col-xs-4 col-md-8">
							{{service.details.description}}
						  </span>
						  
						  <div class="btn-group pull-right" style="margin-top:0em;">
							 <button class="btn btn-default btn-xs">
								 {{service.details.amount | currency}}
							 </button>
							 <button class="btn btn-default btn-xs" ng-click="mark(service)" ng-hide="isMarked(service)">
								<i class="icon fa fa-plus" > mark </i>
							 </button>
							 <button class="btn btn-success btn-xs" ng-click="unmark(service)" ng-show="isMarked(service)">
								<i class="icon fa fa-check" > marked</i>
							 </button>
						 </div>
						 
					 </div>
					 
				  </div>
			  </div>
			   
			  <hr />
			  <label>Please enter your credentials below</label>
			  <span class="col-xs-12" style="padding:.5em" ng-repeat="token in vendor.userTokens">
				  <div class="col-xs-3">{{token}} :</div>  
				  <div class="col-xs-9" >
				     <input class="form-control" style="border-radius:0px" ng-model="tokenObject[token]" >
				  </div>
			  </span>
			  <hr />
			  <span class="col-xs-12" style="padding:.5em">
			     <div class="col-xs-9 col-xs-offset-3" >
				    <button class="btn btn-success btn-sm " ng-click="subscribe()"><i class="icon fa fa-plus"> Subscribe </i></button>
				 </div>
			  </span>
		   </div>
	   </div>
   </div>