
   <div class="panel">
	   <div class="panel-body">
		   <div class="input-group" style="padding-bottom:.4em;">
			  <input type="text" class="form-control" style="border-radius: 0px !important; height:3em;" placeholder="Search for contact by email or username" ng-model="searchText">
			  <span class="input-group-addon" style="background-color:#428bca; padding-left:2em; padding-right:2em" ng-click="search(searchText)">
				<i class="icon fa fa-search" style="font-size:1.5em; font-weight:bold; color:#fff"></i>
			  </span>
		   </div>
		   <div class="vendor-signin" ng-show="searchComplete">
			  
			  <img ng-src="{{vendorLogo}}" height="50">
			  <button class="btn btn-default btn-xs pull-right" style="margin-top:1.2em"> {{vendor.subscribers | countFilter}} subscribers </button>
			  <h4>{{fullName}}</h4>
			   <label>Description</label>
			  <p>
				 {{vendor.description}}
			  </p>
			  <p>url :<a>{{vendor.url}}</a> </p> 
			  <p>secret : {{vendor.secret}}</p>
			  <hr />
			  <p><h4>services </h4> {{services}}</p>
			   <hr />
			  <label>Please enter your credentials below</label>
			  <span class="col-xs-12" style="padding:.5em" ng-repeat="token in vendor.userTokens">
				  <div class="col-xs-3">{{token}} :</div>  
				  <div class="col-xs-9" >
				     <input class="form-control" style="border-radius:0px" ng-model="tokenObject[token]" >
				  </div>
			  </span>
			  <hr />
			  <span class="col-xs-12" style="padding:.5em">
			     <div class="col-xs-9 col-xs-offset-3" >
				    <button class="btn btn-success btn-sm " ng-click="addContact()"><i class="icon fa fa-plus"> Subscribe </i></button>
				 </div>
			  </span>
		   </div>
	   </div>
   </div>