<div id="payIn" class="modal fade modal-xs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" ng-controller="tranCtrl">
	<div class="modal-dialog" style="border-radius: 0px;">
	  <div class="modal-content">

		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h4 class="modal-title" id="myModalLabel">Transaction Dialogue for Paying In</h4>
		</div>
		<div class="modal-body">
		   <div class="">
			   <div class="alert alert-info">You are currently in Nigeria !
					
			   </div>
				<div class="panel">
				   <div class="panel-body ">
					  <div class="jumbotron" style="padding:.5em;">
						  <h2>recieve payment through stripe or paypal</h2>
					  </div>
						  
				   </div>
					<div class="panel-footer" style="">
					  <div class="col-sm-6"></div>
					  <button class="btn btn-default btn-sm">cancel <i class="icon fa fa-times"></i></button>
					  <button class="btn btn-default btn-sm btn-success">Proceed </button>
					</div>
			   </div>
		   </div>
		   
		</div>
	  </div>
	</div>
  </div>