<div>
	<div ng-hide="files[0].type.indexOf('image') > -1">
		<div ng-model="files" 
			 ngf-select
			 ngf-drop 
			 ng-model-rejected="rejFiles"
			 ngf-multiple="false" 
			 ngf-accept="'image/*'"
			 ngf-disabled="false" 
			 ngf-capture="'camera'"
			 ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
			 ngf-min-size="" ngf-max-size=""
			 ngf-allow-dir="false" 
			 ngf-drop-available="dropAvailable" >
			    <img ng-src="img/default.png" width="90%" class="img-rounded">
		 </div>
	 </div>
	 
	 <ul style="clear:both" ng-show="rejFiles.length > 0" class="response">
		The file selected is not valid
	 </ul>	
	 <div class="preview" ng-show="files[0].type.indexOf('image') > -1" style="padding-top:.5em; text-align:center">
		<img width="100%" ngf-src="files[0]" >	
	 </div>
	
    <div style="margin-top:.2em; padding:.2em; border-radius:5px; background-color:#ccc" class="btn-group">
	   <button
			class=" btn btn-default btn-xs"
			ng-model="files" 
			 ngf-select
			 ng-model-rejected="rejFiles"
			 ngf-multiple="false" 
			 ngf-accept="'image/*'"
			 ngf-disabled="false" 
			 ngf-capture="'camera'"
			 ngf-min-size="" ngf-max-size=""
			 ngf-allow-dir="false"
			 ngf-drop-available="dropAvailable">Select
		</button>
		<button ng-click="uploadFiles(files)" class=" btn btn-default btn-xs">Save</button>
	</div>	
	
</div>