<div id="withdraw" class="modal fade modal-xs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog" style="border-radius: 0px;">
	  <div class="modal-content">

		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h4 class="modal-title" id="myModalLabel">Transaction Dialogue for withdrawal</h4>
		</div>
		<div class="modal-body">
		   <div class="">
			   <div class="alert alert-info">You are currently in Nigeria !
					
			   </div>
				<div class="panel">
				   <div class="panel-body ">
					  <div class="col-sm-8 col-sm-offset-2" style="padding-bottom:.6em;">
						  <h4 style="text-align:center;">Enter amount to withdraw</h4>
						  <input type="text" class="form-control" placeholder=" $ Enter amount"></textarea>
					  </div>
					  <div class="col-sm-8 col-sm-offset-2" style="padding-bottom:.6em;">
						  <h4 style="text-align:center;">Account number</h4>
						  <input type="text" class="form-control" placeholder=" Bank account number"></textarea>
					  </div>
					  <div class="col-sm-8 col-sm-offset-2" style="padding-bottom:.6em;">
						  <h4 style="text-align:center;">Account Name</h4>
						  <input type="text" class="form-control" placeholder=" Bank account name"></textarea>
					  </div>
					  
					  <div class="col-sm-8 col-sm-offset-2" style="padding-bottom:.6em;">
						 <h4 style="text-align:center;">Select your bank</h4>
						 <select class="form-control" ng-options="option for option in items" ng-model="data.bank"><option value="">select bank</option></select>
					  </div>
						  
				   </div>
					<div class="panel-footer" style="">
					  <div class="col-sm-6"></div>
					  <button class="btn btn-default btn-sm">cancel <i class="icon fa fa-times"></i></button>
					  <button class="btn btn-default btn-sm btn-success">Proceed </button>
					</div>
			   </div>
		   </div>
		   
		</div>
	  </div>
	</div>
  </div>
		  